doctype html
html
    head
        title Random Quotation Generator
        meta(charset="utf-8")
        
        // Stylesheet
        link(rel="stylesheet", type="text/css", href="main.min.css")
        
        // Fonts
        link(href="https://fonts.googleapis.com/css?family=Acme|Roboto", rel="stylesheet")
        
        // Font Awesome cdn
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css",  integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=", crossorigin="anonymous")
    body
        h1 Random Quotation Generator

        div#quoteDiv
            p Random quotations are the heart and soul of living.
            span#author - Christian Brill
            button#newQuote New Quotation
            a(href="", id="twitter")
              i(class="fa fa-twitter", aria-hidden="true")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.0/jquery.min.js")
        script(src="script.js")
