* {
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
}

body {
   background-color: darkred;
   padding: 20px;

   h1 {
      color: white;
      font-size: 2em;
      text-align: center;
      text-shadow: 2px 2px 5px black;
   }

   #quoteDiv {
      background: white;
      border-radius: 20px 0 20px 0;
      box-shadow: 1px 1px 20px black;
      margin: 100px auto;
      padding: 20px;
      width: 500px;

      p {
         color: darkred;
         font-family: 'Acme', sans-serif;
         font-size: 30px;
         margin: 0;
         text-align: center;
      }

      p:before, p:after {
         content: ' " ';
         font-size: 50px;
      }

      #author {
         display: block;
         font-style: italic;
         margin: 20px 0;
         text-align: right;
      }

      button {
         background: transparent;
         border: 2px solid black;
         border-style: solid none;
         display: block;
         font-size: 1em;
         margin: auto;
         margin-top: 30px;
         padding: 10px;
         width: 150px;

         &:focus, &:active {
            outline: none;
         }

         &:active {
            transform: scale(0.9);
         }
      } // button end

      a {
         text-decoration: none;

         i {
            color: #1DA1F2;
            display: block;
            font-size: 2em;
            margin: auto;
            margin-top: 30px;
            width: 10px;
         }
      } // a end
   } // quoteDiv end
} // body end
